      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de Espacio Ideo </h1>
  <p>En esta página web encontrareis los proyectos que se realizan en nuestra escuela, todo realizado por los alumnos.</p>
  <p>Estos proyectos utilizan el formato de una página web, un formato innovador que a dia de hoy se consume mucho y se visita mucho, sera una pagina que motive y que guste a las familias  </p>
   <p> Ideo es un centro educativo diferente, este centro no es un colegio tradicional como muchos que encontramos en nuestra ciudad. Ideo se especializa en una metodologia que gusta a todos los alumnos, con atención necesaria para cualquier alumno y un centro que esta basado en proyectos. Podeis acceder para comprobarlo a traves del link que encontrareis abajo.</p>
  <div class links>
  <p> Web del colegio: <a href=>https://www.escuelaideo.edu.es/ </a></p>
</BaseLayout>