      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de</h1>
  <p>En esta página web encontrareis los proyectos que se realizan en nuestra escuela, todo realizado por los alumno.</p>
  <p>Estos proyectos utilizan el formato de una página web, un formato innovador que a dia de hoy se consume mucho y se visita mucho, sera una pagina que motive y que guste a las familias  </p>
  <div class links>
  <p> Web del colegio: <a href=>https://www.escuelaideo.edu.es/ </a></p>
</BaseLayout>