---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>catalogo de proyectos</h1>
<div class="list-of-catalogo">
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
  <div class="catalogo-preview">
  <a href="/catalogo">
    <div class="cover-picture"></div>
  </a>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>
</div>
</BaseLayout>