      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Contacto</h1>
  <h2>Información de contacto del autor</h2>
  <p>Si necesitas ponerte en contacto conmigo, tienes los siguientes medios:</p>
  <ul>
    <li>Gmail: <a href="mailto">violeta.barthelemy@a.escuelaideo.edu.es</a></li> 
  </ul>
</BaseLayout>