      ---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Contacto</h1>
  <h2>Escribenos y te responderemos en la mayor brevedad posible</h2>
  <p>Si necesitas ponerte en contacto con nosotros, tienes los siguientes medios:</p>
  <ul>
    <li>Gmail: <a href="mailto">violeta.barthelemy@a.escuelaideo.edu.es</a></li> 
   <li> Formulario de google: <a href="mailto">https://docs.google.com/forms/d/1WqMTpj2tEDuNK5Y2B-wt626e9xak0N9fhXT8guATufs/edit
    </a></li>
  </ul>
</BaseLayout>