---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import Logo from '../assets/logo.svg'
import LastImages from '../components/LastImages.astro'
import LastBlogPosts from '../components/LastBlogPosts.astro'
---
<BaseLayout title="Homepage">  
  <img src={Logo} class="logofront" />
  <br/>
  
  <h2>Últimas imágenes incorporadas</h2>

  <div class="imagesfront">
    <LastImages></LastImages>    
  </div>

  <LastBlogPosts></LastBlogPosts>  
</BaseLayout>