---
  import MenuLayout from './MenuLayout.astro'
  import FootLayout from './FootLayout.astro'   
  
  import Logo from '../assets/logo.svg'
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Violeta" />
    <meta name="keywords" content="HTML, CSS, Astro" />
    <title>Espacio Ideo - {title}</title>
    
    <style global>
@import "../styles/base.scss";
</style>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/">
        <img src={Logo} class="logo" style="width:150px"/>
        </a>
      </div>
      <MenuLayout></MenuLayout>
    </div> <!-- header -->
    <div class="main">
    <slot/>
    </div>
    <FootLayout></FootLayout>
  </body>
</html>