<div id="menu">
  <ul>
    <li>
        <a href="/catalogo2">catalogo</a>
    </li>
    <li>
      <a href="/about">Acerca de</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contacto</a>
    </li>
  </ul>
</div>